<%= link_to "edit", edit_sub_url(@sub) %> |
<%= link_to "destroy", sub_url(@sub), method: :delete %>
<br>
<%= link_to "create post", new_post_url %>
<h1><%= @sub.title %></h1>

<b>Moderator</b>
<%= @sub.moderator.username %>
<br>
<b>Description</b>
<%= @sub.description %>

<h3>Posts</h3>
<%= render @sub.posts %>
